<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedditBrowser.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RedditBrowser.Settings>
            <setting name="Topic1" serializeAs="String">
                <value>microsoft</value>
            </setting>
            <setting name="Topic2" serializeAs="String">
                <value>dotnet</value>
            </setting>
        </RedditBrowser.Settings>
    </applicationSettings>
</configuration>